@import '../../styles/keyframes.css';

.store__container:{
    position: relative;

    display: flex;
    align-items: center;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

.store__wrapper{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 80vw;
    
    margin: auto;

    overflow: hidden;
    z-index: 100000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.store__list{
    width: 30%;
    height: 90%;

    animation: lists 2s 0s normal forwards;
}

.store__listOFF{
    animation: listsOFF 2s 0s normal forwards;
}

.store__listTitle{
    margin: 10px 0px;
    color: #fff;

    font-size: 0.8rem;
    font-family: 'Arial';
}

.alignCenter{
    text-align: center;
}

.store__wrapperList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    height: 85%;
    width: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
}

.store__popcorn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 170px;
    width: 150px;

    margin-bottom: 20px;

    border-radius: 20px;

    background-color: #500505;

    cursor: pointer;
}

.store__popcorn > img{
    max-width: 90%;

    user-select: none;
}

.store__popcorn > strong{
    margin: 5px 0px;
    color: #fff;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Arial';
}

.store__popcornImage > img{
    max-height: 70vh;

    user-select: none;
    animation: animation 3s 0s normal forwards;
}

.store__popcornImageOFF > img{
    animation: animationOFF 3s 0s normal forwards;
}

.store__desc{
    display: flex;
    flex-direction: row;
    align-items: center;

    /* justify-content: space-evenly; */
}

.store__desc > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 4%;
}

.store__desc > div > p{
    width: 90%;

    text-align: center;
    font-size: 1rem;
}

.store__icon{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;

    border-radius: 100px;
    border-color: #680F0F;
    border-style: solid;
    border-width: 5px;

    background-color: #530606;
}

.store__iconText{
    margin: 5% 0px;
    color: #fff;

    font-size: 0.7rem;
    font-family: 'Impact';
}

.store__list > h5{
    margin: 5% 0px;
    color: #fff;

    font-size: 4.4rem;
    font-weight: bold;
    font-family: 'Impact';
}

.store__counterTitle{
    margin: 5% 0px 3% 0;
    color: #fff;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Impact';
}

.store__counter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.store__wrapperCounter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    border-radius: 10px;
}

.store__wrapperCounter button{
    background-color: #fff;
    outline: none;
    border: none;

    border-radius: 10px;

    cursor: pointer;
}

.store__wrapperCounter p{
    margin: 8% 0px;
    color: #530606;

    font-size: 2rem;
    font-weight: bold;
    font-family: 'Impact';
}

.store__wrapperValue{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin: 8% 0 8% 0;
}

.store__wrapperValue p{
    margin: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Impact';
}

.store__wrapperValue strong{
    margin: 2% 0;
    color: #fff;

    font-size: 4rem;
    font-weight: bold;
    font-family: 'Impact';
}

.store__buttonConfirm{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    border-radius: 20px;
    border: none;
    
    outline: none;
    background-color: green;
    cursor: pointer;
}

.store__buttonConfirm p{
    color: #fff;

    font-size: 1rem;
    font-family: 'Arial';
}











.store__background{
    position: absolute;
    right: 0;
    top: 0;

    height: 100vh;
    width: 50vw;

    background-color: #8A2222;
    animation: bg 3s 0s normal forwards;
    z-index: -1;
}

.store--backgroundOFF{
    animation: bgOFF 3s 0s normal forwards;
}

.store__backgroundTriangle{
    position: absolute;
    bottom: 0;

    height: 50vh;
    width: 100%;

    background-color: #680F0F;
    clip-path: polygon(50% 0%, -50% 100%, 150% 100%);
    animation: triangleAnima 3s 0s normal forwards;
    z-index: -1;
}

.store--backgroundTriangleOFF{
    animation: triangleAnimaOFF 3s 0s normal forwards;
}
