@import '../../styles/keyframes.css';

.store__container:{
    position: relative;

    display: flex;
    align-items: center;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

.store__background{
    position: absolute;
    right: 0;

    height: 100vh;
    width: 50vw;

    background-color: #8A2222;
    animation: bg 3s 0s normal forwards;
}

.store--backgroundOFF{
    animation: bgOFF 3s 0s normal forwards;
}

.store__backgroundTriangle{
    position: absolute;
    bottom: 0;

    height: 50vh;
    width: 100%;

    background-color: #680F0F;
    clip-path: polygon(50% 0%, -50% 100%, 150% 100%);
    animation: triangleAnima 3s 0s normal forwards;
}

.store--backgroundTriangleOFF{
    animation: triangleAnimaOFF 3s 0s normal forwards;
}
