.SideBar__container{
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 5vw;
    height: 100vh;

    z-index: 100000;

}

.SideBar__list{
    list-style-type: none;
    padding: 0;
}

.SideBar__list > li{
    margin-bottom: 4vh;
}

.SideBar__buttom{
    cursor: pointer;
    transition: 100ms linear all;
}

.SideBar__buttom > *:hover {
    transform: rotateZ(-18deg);
    transition: 100ms linear all;
}