.SideBar__containerLeft{
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 5vw;
    height: 100vh;

    z-index: 100000;
}

.SideBar__containerRight{
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 5vw;
    height: 100vh;

    z-index: 100000;
}

.SideBar__list{
    list-style-type: none;
    padding: 0;
}

.SideBar__list > li{
    margin-bottom: 4vh;
}

.SideBar__buttom{
    cursor: pointer;
    transition: 100ms linear all;
}

.SideBar__buttom > img{
    display: none;
}

.SideBar__buttom > *:hover {
    transform: rotateZ(-18deg);
    transition: 100ms linear all;
}

@media(max-width: 700px){
    .SideBar__containerLeft{
        bottom: 0;
        left: 0;

        flex-direction: row;
        flex-wrap: nowrap;
    
        width: 100vw;
        height: 10vh;
    }

    .SideBar__containerRight{
        top: 0;
        right: 0;

        flex-direction: row;
        flex-wrap: nowrap;
    
        width: 100vw;
        height: 10vh;
    }

    .SideBar__list{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;

        width: 100vw;
    }

    .SideBar__list > li{
        margin-bottom: 0vh;
    }

    .SideBar__buttom > img{
        width: 70px;
        display: initial;
    }

    
}

